<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="~{fragments/head :: head('Appointment', '/js/appointment.js')}"></head>

<body>
	<div th:replace="~{fragments/header :: header}"></div>

	<div class="container">
		<div th:replace="~{fragments/sidebar :: sidebar}"></div>

		<!--********************************************************-->
		<!---Header Head & Sidebar should altered within fragments---->
		<!--********************************************************-->

		<main class="content">
			<input type="hidden" id="activeTab" th:value="${activeTab}">

			<!--Page Title-->
			<h2>Appointment</h2>

			<!--*********************************************-->
			<!--***************** Tab start *****************-->
			<!--*********************************************-->

			<div class="tab">
				<button type="button" onclick="showTab('showAppointment')">Appointment
					List</button>
				<button type="button" onclick="showTab('addAppointment')">Add
					Appointment</button>
			</div>

			<!-- Tab content ShowAppointment-->
			<div id="showAppointment" class="tabcontent">
				<h3>Appointments List</h3>
				<form th:action="@{/appointment}" method="get">
					<label for="searchAppointmentInput">Search by description:</label>
					<input type="text" id="searchAppointmentInput"
						name="searchAppointment" th:value="${searchAppointmentValue}">
					<label for="sort">Sort by date:</label> <select id="sort"
						name="sort">
						<option value="asc" th:selected="${sort == 'asc'}">Oldest
							to Newest</option>
						<option value="desc" th:selected="${sort == 'desc'}">Newest
							to Oldest</option>
					</select>
					<button type="submit">Apply</button>
				</form>
				<table>
					<tr>
						<th>Description</th>
						<th>Date</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
					<tr th:each="appointment : ${appointments}">
						<td th:text="${appointment.description}"></td>
						<td th:text="${#dates.format(appointment.date, 'yyyy-MM-dd')}"></td>
						<td>
							<button type="button"
								th:attr="data-id=${appointment.id},
                             data-description=${appointment.description},
                             data-date=${#dates.format(appointment.date, 'yyyy-MM-dd')}"
								onclick="EditAppointmentFromButton(this)">Edit</button>
						</td>
						<td>
							<form th:action="@{/appointment/delete}" method="post">
								<input type="hidden" name="id" th:value="${appointment.id}">
								<button type="submit">Delete</button>
							</form>
						</td>
					</tr>
				</table>
			</div>

			<!-- Tab content edit Appointment-->
			<div id="editAppointment" class="tabcontent" style="display: none;">
				<h3>Edit Appointment</h3>
				<form th:action="@{/appointment/edit}"
					th:object="${editAppointment}" method="post">
					<input type="hidden" id="editAppointmentId" th:field="*{id}"> <label
						for="editAppointmentDescription">Description:</label><br> <input
						type="text" id="editAppointmentDescription"
						th:field="*{description}"><br>
					<div th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></div>
					<br> <label for="editAppointmentDate">Appointment
						Date:</label><br> <input type="date" id="editAppointmentDate"
						th:field="*{date}"><br>
					<div th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
					<br>

					<button type="submit">Save</button>
				</form>
			</div>

			<!-- Tab content addAppointment-->
			<div id="addAppointment" class="tabcontent" style="display: none;">
				<h3>Add Appointment</h3>
				<form th:action="@{/appointment/add}" th:object="${newAppointment}"
					method="post">
					<label for="addAppointmentDescription">Description:</label><br>
					<input type="text" id="addAppointmentDescription"
						th:field="*{description}"><br>
					<div th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></div>
					<br> <label for="addAppointmentDate">Appointment Date:</label><br>
					<input type="date" id="addAppointmentDate" th:field="*{date}"><br>
					<div th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
					<br>

					<button type="submit">Save Appointment</button>
				</form>
			</div>
			<!--*********************************************-->
			<!--****************** Tab end ******************-->
			<!--*********************************************-->

			<!--*********************************************-->
			<!--Code below should be altered withen fragments-->
			<!--*********************************************-->
		</main>
	</div>

	<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>