<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="~{fragments/head :: head('Contact', '/js/contact.js')}"></head>

<body>
	<div th:replace="~{fragments/header :: header}"></div>

	<div class="container">
		<div th:replace="~{fragments/sidebar :: sidebar}"></div>

		<!--********************************************************-->
		<!---Header Head & Sidebar should be altered within fragments-->
		<!--********************************************************-->

		<main class="content">
			<input type="hidden" id="activeTab" th:value="${activeTab}">

			<!--Page Title-->
			<h2>Contact</h2>

			<!--*********************************************-->
			<!--***************** Tab start *****************-->
			<!--*********************************************-->

			<div class="tab">
				<button type="button" onclick="showTab('showContact')">Contact
					List</button>
				<button type="button" onclick="showTab('addContact')">Add
					Contact</button>
			</div>

			<!-- Tab content ShowContact-->
			<div id="showContact" class="tabcontent">
				<h3>Contacts List</h3>

				<form th:action="@{/contact}" method="get">
					<label for="searchContactInput">Search by first or last
						name:</label> <input type="text" id="searchContactInput"
						name="searchContact" th:value="${searchContactValue}"> <label
						for="sort">Sort by last name:</label> <select id="sort"
						name="sort">
						<option value="asc" th:selected="${sort == 'asc'}">A to Z</option>
						<option value="desc" th:selected="${sort == 'desc'}">Z to
							A</option>
					</select>

					<button type="submit">Apply</button>
				</form>

				<table>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Number</th>
						<th>Address</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>

					<tr th:each="contact : ${contacts}">
						<td th:text="${contact.firstName}"></td>
						<td th:text="${contact.lastName}"></td>
						<td th:text="${contact.number}"></td>
						<td th:text="${contact.address}"></td>
						<td>
							<button type="button"
								th:attr="data-id=${contact.id},
                             data-firstname=${contact.firstName},
                             data-lastname=${contact.lastName},
                             data-number=${contact.number},
                             data-address=${contact.address}"
								onclick="EditContactFromButton(this)">Edit</button>
						</td>
						<td>
							<form th:action="@{/contact/delete}" method="post">
								<input type="hidden" name="id" th:value="${contact.id}">
								<button type="submit">Delete</button>
							</form>
						</td>
					</tr>
				</table>
			</div>

			<!-- Tab content editContact-->
			<div id="editContact" class="tabcontent" style="display: none;">
				<h3>Edit Contact</h3>
				<form th:action="@{/contact/edit}" th:object="${editContact}"
					method="post">
					<input type="hidden" id="editContactId" th:field="*{id}"> <label
						for="editContactFirstName">First Name:</label><br> <input
						type="text" id="editContactFirstName" th:field="*{firstName}"><br>
					<div th:if="${#fields.hasErrors('firstName')}"
						th:errors="*{firstName}"></div>
					<br> <label for="editContactLastName">Last Name:</label><br>
					<input type="text" id="editContactLastName" th:field="*{lastName}"><br>
					<div th:if="${#fields.hasErrors('lastName')}"
						th:errors="*{lastName}"></div>
					<br> <label for="editContactNumber">Number:</label><br> <input
						type="text" id="editContactNumber" th:field="*{number}"><br>
					<div th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></div>
					<br> <label for="editContactAddress">Address:</label><br>
					<input type="text" id="editContactAddress" th:field="*{address}"><br>
					<div th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
					<br>

					<button type="submit">Save</button>
				</form>
			</div>

			<!-- Tab content addContact-->
			<div id="addContact" class="tabcontent" style="display: none;">
				<h3>Add Contact</h3>
				<form th:action="@{/contact/add}" th:object="${newContact}"
					method="post">
					<label for="addContactFirstName">First Name:</label><br> <input
						type="text" id="addContactFirstName" th:field="*{firstName}"><br>
					<div th:if="${#fields.hasErrors('firstName')}"
						th:errors="*{firstName}"></div>
					<br> <label for="addContactLastName">Last Name:</label><br>
					<input type="text" id="addContactLastName" th:field="*{lastName}"><br>
					<div th:if="${#fields.hasErrors('lastName')}"
						th:errors="*{lastName}"></div>
					<br> <label for="addContactNumber">Number:</label><br> <input
						type="text" id="addContactNumber" th:field="*{number}"><br>
					<div th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></div>
					<br> <label for="addContactAddress">Address:</label><br>
					<input type="text" id="addContactAddress" th:field="*{address}"><br>
					<div th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
					<br>
					<button type="submit">Save Contact</button>
				</form>
			</div>
			<!--*********************************************-->
			<!--****************** Tab end ******************-->
			<!--*********************************************-->
		</main>
	</div>

	<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>