<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Task', '/js/task.js')}"></head>

<body>
	<div th:replace="~{fragments/header :: header}"></div>

	<div class="container">
		<div th:replace="~{fragments/sidebar :: sidebar}"></div>

		<!--********************************************************-->
		<!---Header Head & Sidebar should altered withen fragments---->
		<!--********************************************************-->

		<main class="content">
			<input type="hidden" id="activeTab" th:value="${activeTab}">

			<!--Page Title-->
			<h2>Task</h2>

			<!--*********************************************-->
			<!--***************** Tab start *****************-->
			<!--*********************************************-->

			<div class="tab">
				<button type="button" onclick="showTab('showTask')">Task
					List</button>
				<button type="button" onclick="showTab('addTask')">Add Task</button>
			</div>

			<!-- Tab content ShowTask-->
			<div id="showTask" class="tabcontent">

				<h3>Task List</h3>

				<form th:action="@{/task}" method="get">
					<label for="searchTaskInput">Search by name:</label> <input
						type="text" id="searchTaskInput" name="searchTask"
						th:value="${searchTaskValue}"> <label for="sort">Sort
						by name:</label> <select id="sort" name="sort">
						<option value="asc" th:selected="${sort == 'asc'}">A to Z</option>
						<option value="desc" th:selected="${sort == 'desc'}">Z to
							A</option>
					</select>

					<button type="submit">Apply</button>
				</form>

				<table>
					<tr>
						<th>Task Name</th>
						<th>Description</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
					<tr th:each="task : ${tasks}">
						<td th:text="${task.name}"></td>
						<td th:text="${task.description}"></td>
						<td>
							<button type="button"
								th:attr="data-id=${task.id},data-name=${task.name},data-description=${task.description}"
								onclick="EditTaskFromButton(this)">Edit</button>
						</td>
						<td>
							<form th:action="@{/task/delete}" method="post">
								<input type="hidden" name="id" th:value="${task.id}">
								<button type="submit">Delete</button>
							</form>
						</td>
					</tr>
				</table>
			</div>

			<!-- Tab content addTask-->
			<div id="addTask" class="tabcontent" style="display: none;">
				<h3>Add Task</h3>
				<form th:action="@{/task/addTask}" th:object="${newTask}"
					method="post">
					<label for="addTaskName">Task Name:</label><br> <input
						type="text" id="addTaskName" th:field="*{name}"><br>
					<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
					<br> <label for="addTaskDescription">Description:</label><br>
					<textarea id="addTaskDescription" th:field="*{description}"></textarea>
					<br>
					<div th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></div>
					<br>

					<button type="submit">Save Task</button>
				</form>
			</div>

			<!-- Tab content edit Task-->
			<div id="editTask" class="tabcontent" style="display: none;">
				<h3>Edit Task</h3>
				<form th:action="@{/task/edit}" th:object="${editTask}"
					method="post">
					<input type="hidden" id="editTaskId" th:field="*{id}"><label
						for="editTaskName">Task Name:</label><br>
					<input type="text"id="editTaskName" th:field="*{name}"><br>
					<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
					<br> <label for="editTaskDescription">Description:</label><br>
					<textarea id="editTaskDescription" th:field="*{description}"></textarea>
					<br>
					<div th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></div>
					<br>

					<button type="submit">Save</button>
				</form>
			</div>

			<!--*********************************************-->
			<!--****************** Tab end ******************-->
			<!--*********************************************-->

			<!--*********************************************-->
			<!--Code below should be altered withen fragments-->
			.
			<!--*********************************************-->
		</main>
	</div>

	<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>